/* Importar a fonte Roboto Mono do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* Aplicar a fonte globalmente */
body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #000000, #800080); /* Degradê do preto para o roxo */
}

/* Outros estilos globais podem ser adicionados aqui */
